<form class="form-horizontal" ng-submit="submitPost()">
  <uib-tabset>
    <uib-tab heading="Announcement" select="selectedTab('announcement')" active="activeTab.announcement">
      <div ui-view="announcement"></div>
    </uib-tab>
    <uib-tab heading="Call" select="selectedTab('call')" active="activeTab.call">
      <div ui-view="call"></div>
    </uib-tab>
    <uib-tab heading="Event" select="selectedTab('event')" active="activeTab.event">
      <div ui-view="event"></div>
    </uib-tab>
    <uib-tab heading="Job" select="selectedTab('job')" active="activeTab.job">
      <div ui-view="job"></div>
    </uib-tab>
  </uib-tabset>
  
</form>
